packages:
  - nftables


runcmd:
  - sed -i -e 's/^PasswordAuthentication yes/PasswordAuthentication no/g' /etc/ssh/sshd_config
  - systemctl restart sshd.service
  - nft add table ip uncomplicated
  - nft add chain ip uncomplicated input { type filter hook input priority 0 \; }
  - nft add rule uncomplicated input ip saddr 127.0.0.1 accept
  - nft add rule uncomplicated input ct state established,related accept
  - nft add rule uncomplicated input tcp dport ssh limit rate 3/minute counter accept
  - nft add rule uncomplicated input counter drop

