users:
  - name: jelford
    groups: wheel
    shell: /bin/bash
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDWCDQwJ2NKi+0+15LK/LSo0NHkDXV1KrMXQHEMVyR614dLPIY9IswkiFRw+4j9Gese1K3SHeIlO6G6cofHi8b+cSDXkZA89oEi3wfklP7ICmjh2nX5ppYfEjuZISjCko7lfPE6hIN1TDhA7R/FLkvJ42v734pP6UN8PjcOYg/dw/10mwklrtsuf8C1dxkeO+8ox0rY+v6VuHQsdyKzHL/B2aF87mEZWpv7txqzR9/051aMyfR8FiK0/JWFAyuVQcTi9Qi/6gwbC7ovqXX9DpKd2hV928dxllNWHE81wjwR64HklIlwcU6PQIk3YZLVdtIWYsHyNnG00AQ3O14avN6egr63ndvLF4stjv/Ml6OCjCS/c5jfXRFDjIs80OKbRcV9KW/B9APfVxWvnT4ZgWJcEyXbJvxIb74jNlla5fnM095t0DDyyssag3YGXPaVAOBLlZmmovdJAA8U1wr49mawIksIPDX8URFCmUogOHZD5b7Cn4heg4slpZ0lVeS+pAP0uy+j399KAxa5IWhECZAPzO1Q3E6U1HiiuxR7OdGQP6Huc1sOjp8MKSx6mCySSNINvu5+5H+eF7zXUuAJK3r4CshrfoKwb/PHWpsVmjjf59FV9fYIg3/Au/Os10LVrRSHbDwLejbwhCOaYrWvIM8k8Ta98rXKhCKRejc1rAikzw== jelford@laura
